@font-face {
    font-family: twoBit;
    src: url(Twobit.woff);
}



:root {
    font-size: 10px;
    color: rgba(173, 255, 47, 0.3);
    
}


body {
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(7, 7, 17);
}

#gameArea {
    font-family: 'Chakra Petch', sans-serif;
    padding-top: 20px;
    color: rgba(173, 255, 47, 0.3);
    width: 60vw;
    height: 55vh;
    background-color: black;
    border-radius: 45% 45% 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset -10px -10px 55px rgba(0,0,200, 0.4);

}

#wrapper {
    background-image: url('newMetalbg.png');
    background-size:cover;
   
   /* border-left: 20px solid rgba(255,255,255,0.7);
    border-bottom: 20px solid rgba(0,0,0,0.4);
    border-right: 20px solid rgba(0,0,0,0.4);*/
   
    border-radius: 0 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 70vw;
    height: 90vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

}

main {
   
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
}

.movesDisplay {
    width: 100%;
    display: flex;

}



p {
    font-size: 2rem;
}


.move-btn {
    border: none;
    background-color: rgba(173, 255, 47, 0.2);
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1.6rem;
    border-radius: 1.8rem;
    height: 3rem;
    width: 25%;
}


#buttons {
    
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    margin: 10px 0 0 0;
    width: 100%;
    background-color: #000;
    box-shadow: inset 5px 5px 55px rgba(0,0,200, 0.4);
   
   
   
}

#playAgainButton {
    border: none;
    background-color: rgba(173, 255, 47, 0.2);
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1.6rem;
    border-radius: 1.8rem;
    height: 3rem;
    width: 25%;

    
   
}